*, *:after, *:before {
    box-sizing: border-box;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:white;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}
.page{
  width: auto;
  height: 1000px;
}
.container{

}
header{
  width: 100%;
  padding: 20 160px;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color:rgb(145, 36, 7);
}
.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 30px ;
    align-items:right;
}
.header_size{
  width: 100%;
  padding: 20 160px;
}
a{
  font-weight: 200;
  text-decoration: none;
  color: black;
}
.nav {
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    display: flex;
}
.nav_link {
    color: #bab8b8;
    margin-left: 50px;
    text-decoration: none;
}
